<%= render 'layouts/small_banner'%>
<div class="parts">
  <div class="container">
    <h2>BIKE-PARTS ALL</h2>
    <div class="bike-parts-sec">
      <%= render 'layouts/category', locals: { all_items: @all_items, items: @items, categories: @categories, active_cat: @active_cat} %>
    </div>
  </div>
</div>

