<%= render 'layouts/small_banner' %>
<h1>Votre profil</h1>

<p>Your e-mail: <%= @user.email %></p>

Récapitulatif de vos commandes:


<%= link_to "Modifier votre profil", edit_user_registration_path %>
