

<div id="cate" class="categories">
	 <div class="container">
		 <h3>CATEGORIES</h3>
		 <div class="categorie-grids">
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid1">
				 <h4>FIXED / SINGLE SPEED</h4>
				 <p>Are you ready for the 27.5 Revloution ?</p>
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid2">
				 <h4>PREMIMUM SERIES</h4>
				 <p>Exclusive Bike Components</p>
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid3">
				 <h4>CITY BIKES</h4>
				 <p>Street Playground</p>
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
</div>
<footer class="footer footer-standard pt50 pb10">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-md-2 mb40">

                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="#">
                            Jeans
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Wrangler
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Peter England
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            T-shirts
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Party Wear
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Shoes
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 mb40">

                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="#">
                            Offer & Discounts
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Skirts
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Kids Store
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Home Decor
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Sunglasses
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Begs
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 mb40">

                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="#">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            News
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            FAQS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Term &amp; conditions
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Privacy &amp; policy
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 mb40">
                <h3>Subscribe to our newsletter</h3>
                <form id="widget-subscribe-form" action="index.html" role="form" method="post" class="mb0">
                    <div class="input-group input-group-lg">

                        <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
                <div class="row pt30">
                    <div class="col-sm-6">
                        <p class="contact-lead">
                            <small>Call us</small>
                            <br>+01 123-493-2949
                        </p>
                    </div>
                      <div class="col-sm-6">
                        <p class="contact-lead">
                            <small>Mail us</small>
                            <br>support@domain.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottomAlt">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="clearfix">
                    <a href="#" class="social-icon-sm si-dark si-facebook si-dark-round">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                        <i class="fa fa-skype"></i>
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <span>© Copyright 2017. All Right Reserved</span>
            </div>
        </div>
    </div>
</div>
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="js/plugins/plugins.js"></script>
<script src="js/assan.custom.js"></script>
      <!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<script>
    /**Hero  script**/
    var tpj = jQuery;

    var revapi1078;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_1078_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_1078_1");
        } else {
            revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "revolution/js/",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 8000,
                navigation: {
                    arrows: {
                        enable: true,
                        style: 'uranus',
                        tmp: '',
                        rtl: false,
                        hide_onleave: false,
                        hide_onmobile: true,
                        hide_under: 600,
                        hide_over: 9999,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        left: {
                            container: 'slider',
                            h_align: 'left',
                            v_align: 'center',
                            h_offset: 0,
                            v_offset: 0
                        },
                        right: {
                            container: 'slider',
                            h_align: 'right',
                            v_align: 'center',
                            h_offset: 0,
                            v_offset: 0
                        }
                    }
                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%",
                    presize: false
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1140, 992, 700, 465],
                gridheight: [600, 600, 500, 480],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
                },
                shadow: 0,
                spinner: "off",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false
                }
            });
        }
    });	/*ready*/

</script>
