<div class="container">
  <div class="header">
    <div class="logo">
      <a href="index.html"><%= image_tag "logo.png", alt: "" %></a>
    </div>
    <div class="top-nav">
      <label class="mobile_menu" for="mobile_menu">
      <span>Menu</span>
      </label>
      <input id="mobile_menu" type="checkbox">
        <ul class="nav">
        <li class="dropdown1"><a href="bicycles.html">BICYCLES</a>
          <ul class="dropdown2">
            <li><a href="bicycles.html">FIXED / SINGLE SPEED</a></li>
            <li><a href="bicycles.html">CITY BIKES</a></li>
            <li><a href="bicycles.html">PREMIMUN SERIES</a></li>
          </ul>
        </li>
        <li class="dropdown1"><a href="parts.html">PARTS</a>
          <ul class="dropdown2">
            <li><a href="parts.html">CHAINS</a></li>
            <li><a href="parts.html">TUBES</a></li>
            <li><a href="parts.html">TIRES</a></li>
            <li><a href="parts.html">DISC BREAKS</a></li>
          </ul>
        </li>      
        <li class="dropdown1"><a href="accessories.html">ACCESSORIES</a>
          <ul class="dropdown2">
            <li><a href="accessories.html">LOCKS</a></li>
              <li><a href="accessories.html">HELMETS</a></li>
              <li><a href="accessories.html">ARM COVERS</a></li>
              <li><a href="accessories.html">JERSEYS</a></li>
          </ul>
        </li>               
        <li class="dropdown1"><a href="404.html">EXTRAS</a>
          <ul class="dropdown2">
            <li><a href="404.html">CLASSIC BELL</a></li>
            <li><a href="404.html">BOTTLE CAGE</a></li>
            <li><a href="404.html">TRUCK GRIP</a></li>
          </ul>
        </li>
        <a class="shop" href="cart.html"><%= image_tag "cart.png", alt: "" %></a>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>	 