<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			<%= link_to image_tag("logo2.png", alt: ""), items_path %>
		</div>
		<div class="ftr-menu">
			 <ul>
				 <li><%= link_to "Robots", items_path %></li>
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
