
<div class="banner-bg banner-bg1">	
  <%= render 'layouts/banner'%>
  <div class="caption">
    <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides" id="slider">
          <li><h1>HANDMADE BICYCLE</h1></li>
          <li><h1>SPEED BICYCLE</h1></li>	
          <li><h1>MOUINTAIN BICYCLE</h1></li>	
        </ul>
        <p>You <span>create</span> the <span>journey,</span> we supply the <span>parts</span></p>
        <%= link_to "SHOP BIKES", "#", class: "morebtn" %>
      </div>
    </div>
  </div>
  <div class="dwn">
    <%= link_to image_tag("scroll.png", alt: ""), "#cate", class: "scroll" %>
  </div>
</div>
