
<div class="banner-bg banner-bg1">	
  <%= render 'layouts/banner'%>
  <div class="caption">
    <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides" id="slider">
          <li><h1>HANDMADE BICYCLE</h1></li>
          <li><h1>SPEED BICYCLE</h1></li>	
          <li><h1>MOUINTAIN BICYCLE</h1></li>	
        </ul>
        <p>You <span>create</span> the <span>journey,</span> we supply the <span>parts</span></p>
        <a class="morebtn" href="bicycles.html">SHOP BIKES</a>
      </div>
    </div>
  </div>
  <div class="dwn">
    <a class="scroll" href="#cate"><%= image_tag "scroll.png", alt: "" %></a>
  </div>				 
</div>