<div class="price-details">
          <h3>Price Details</h3>
          <span>Total</span>
          <span class="total"><%= sum %></span>
          <span>Discount</span>
          <span class="total">---</span>
          <span>Delivery Charges</span>
          <span class="total">150.00</span>
          <div class="clearfix"></div>
        </div>
        <h4 class="last-price">TOTAL</h4>
        <span class="total final"><%= sum + 150 %></span>
        <div class="clearfix"></div>